<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title th:text="#{title-login}">Login</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	</head>
	<body>
		<div th:include="fragments/header::title">
		
		</div>
		<h1 th:text="#{label-login}">Login</h1>
		
		<form th:action="@{/login}"
		th:object="${customerForm}" method="POST">
			<p th:text="#{label-first-name}" />
			<input type="text" th:field="*{firstName}" />
			<br/>
			<p th:text="#{label-last-name}" />
			<input type="text" th:field="*{lastName}" />
			<br/>
			
			<input type="submit" th:value="#{button-login}" />
		 </form>
		 
		 <br/>
		 
		 <div th:if="${errorMessageLogin}" th:utext="${errorMessageLogin}"
		 style="color:red;font-style:italic;">
		 LOGIN-ERROR
		 </div>
		 
		 <br/>
		<div th:include="fragments/footer::linklist">
		
		</div>
		
	</body>
</html>